@media screen and (max-width: 768px) {
    .button__topside {
      flex-direction: column;
      align-items: center;
    }
  
    .button__ios, .button__mac {
      width: 100%;
      max-width: 300px;
      margin: 10px 0;

    }
  
    .children__main {
      flex-direction: column;
    }
  
    .left, .right {
      width: 100%;
      margin-right: 0;
    }
  
    .topside__icons {
      flex-direction: column;
    }
  
    .icon{
      width: 100%;
      margin-bottom: 30px;
    }
  
    .bottomside__icons {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .bottomside__icons img {
      margin: 20px;
    }
  
    .children__footer {
      flex-direction: column;
    }
  
    .central__footer {
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
    }
  
    .social__footer {
      margin-top: 20px;
    }
    
  }
  
  @media screen and (max-width: 480px) {
    .container__topside,
    .container__bottomside {
      padding-bottom: 40px;
    }
  
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.5em;
    }
  
    p {
      font-size: 0.9em;
    }
  
    .children__topside img {
      width: 80px;
    }
  
    .button__ios, .button__mac {
      width: 95%;
      max-width: 280px;
      font-size: 1em;
      padding: 15px 0;
    }
  }
  
@media screen and (min-width: 768px) {
    .children__main {
        flex-direction: row;
        justify-content: space-between;
    }

    .left, .right {
        width: 50%;
    }

    .left {
        margin-bottom: 0;
    }

    .right {
        padding: 20px;
        margin-top: 60px;
        text-align: left;
    }
}